
body{
	background: #24292e;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

ul,li{
	margin:0;
	padding:0;
}
h1,h3{
  color: #fff;
  text-align: center;
}
h1{
  font-size: 60px;
}
footer{
  margin-top: 50px;
}
.container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.content{
  width: 774px;
  height: 312px;
  box-shadow: 0px 0px 25px 15px #fff;
}
.abacus-list{
	margin: 0 auto;
	height: 252px;
	width: 774px;
	position: relative;
}

.ab-item{
	width: 110px;
	height: 252px;
	position: relative;
	display: inline-block;
}

.up-beads-container{
	height: 100px;
	width: 110px;
	border-bottom: 5px solid #999;
	overflow: hidden;
	position: relative;

}

.down-beads-container{
	width: 110px;
	height: 200px;
	border-top: 3px solid #999;
	overflow: hidden;
	position: relative;
}

.up-vertical-pole, .down-vertical-pole{

	width: 5px;
	height: 100px;
	background: #999;
	margin: 0 auto;
}

.down-vertical-pole{
	height: 205px;
}

.upbead{
	width: 60px;
	height: 40px;
	border-radius: 50%;
	background: #e0e0e0;
	left: 25%;
	top: 0;
	position: absolute;
	display: block;
  opacity: 0.9;
}

#source{
  color: #fff;
  margin-left: 10px;
}

.downbead{
	position: absolute;
	bottom: 0;
	width: 60px;
	height: 40px;
	background: #e0e0e0;
	margin-left: 25%;
	border-radius: 50%;
  opacity: 0.9;
}


.downbead:nth-child(1){
	bottom: 120px;

}

.downbead:nth-child(2){
	bottom: 80px;

}
.downbead:nth-child(3){
	bottom: 40px;

}
